/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 55%;
    padding: 0 2rem;
}

a {
    color: #0083ee;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active {
    color: #0083ee;
    border-bottom: 3px solid #0083ee;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.col-sx {
    padding-top: 1rem;
    line-height: 30px;
}

.col-sx small {
    font-size: 1.5rem;
    font-weight: 500;
    color: #5f6368;
}

.col-sx img {
    width: 80px;
    margin-right: .3rem;
}

.col-dx {
    padding-top: 1rem;
    line-height: 30px;
}

.col-dx img {
    width: 30px;
    border-radius: 50%;
    margin-left: 1.7rem;
}
/* /Header */

/* Nav */
nav {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
    border-bottom: 1px solid grey;
}

nav p {
    font-weight: 500;
    padding-bottom: .6rem;
    margin-right: 2rem;
    border-bottom: 3px solid transparent;
}
/* /Nav */

/* Main */
main {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

.question {
    margin: 4rem 0 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.answer i {
    color: #0083ee;
    font-size: .6rem;
}

ol {
    padding-left: 1rem;
}

ol ol {
    list-style-type: lower-alpha;
    padding-left: 2rem;
}
/* /Main */

/* /Footer */
footer {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.footer select {
    width: 10rem;
}

.footer li {
    display: inline-block;
    margin-right: .8rem;
    font-size: .7rem;
    color: grey;
}
/* /Footer */